* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    padding: 1rem;
}

.view-1 {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.view-1 .top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.view-1 .top h1 {
    font-size: 2rem;
}

.view-1 .top h1 span {
    opacity: 0.6;
}

.view-1 .bottom {
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 20rem;
}

.view-1 .bottom .images {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b c"
        "a a c c"
        "a a c c";
    gap: 2rem;
    max-height: 30rem;
}

.view-1 .bottom .images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.view-1 .bottom .images .img-a {
    grid-area: a;
}

.view-1 .bottom .images .img-b {
    grid-area: b;
    aspect-ratio: 3/4;
}

.view-1 .bottom .images .img-c {
    grid-area: c;
    aspect-ratio: 16/9;
}

@media (min-width: 1020px) {
    main {
        padding: 3rem;
    }

    .view-1 {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .view-1 .top {
        width: 50%;
    }

    .view-1 .top h1 {
        font-size: 7rem;
    }

    .view-1 .top p {
        font-size: 1.3rem;
        opacity: 0.9;
    }

    .view-1 .bottom {
        width: 50%;
        max-height: 50 rem;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .view-1 .bottom .images {
        max-width: 50rem;
        grid-template-areas:
            ". . b b"
            "a a b b"
            "a a b b"
            "a a b b"
            "a a b b"
            "a a c c"
            "a a c c"
            ". . c c";
    }
}
@media (max-width: 768px) {
    .view-1 {
        flex-direction: column;
        gap: 1rem;
    }

    .bottom {
        width: 100%;
        max-height: auto;
        aspect-ratio: unset;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "a"
            "b"
            "c";
        gap: 1rem;
    }

    .img-b, .img-c {
        aspect-ratio: auto;
    }
}

