@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@400..800&display=swap");
/* CSS Variables */
:root {
  /* Theme Fonts */
  --font-family-1: "Roboto Mono", monospace;
  --font-family-2: "Syne", sans-serif;
  --font-family-3: "Inter", sans-serif;
  --font-family-4: Georgia, "Times New Roman", Times, serif;
  --font-family-5: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* Default Light Theme */
  --primary-color: #191919;
  --primary-border-color: rgba(0, 0, 0, 0.404);
  /* Theme Variables */
  --theme-bg: var(--primary-bg);
  --theme-color: var(--primary-color);
  --theme-border-color: var(--primary-border-color);
}

/* Dark Mode */
.dark-mode {
  --primary-bg: #191919;
  --primary-color: #fdfbf5;
  --primary-border-color: rgb(255, 255,255, 0.9);
}

/* Light Font Mixin */
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--font-family-3);
  background-color: var(--theme-bg);
  color: var(--theme-color);
}

body {
  padding: 1rem;
}

main {
  padding: 1.5rem;
  padding-top: 3rem;
  width: 100%;
  border: 1px solid var(--theme-border-color);
}

/* View 1 */
.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.view-1 p {
  font-weight: 200;
  opacity: 0.9;
}
.view-1 h1 {
  font-weight: 300;
  font-size: 6rem;
  width: 100%;
  font-family: var(--font-family-4);
}
.view-1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

/* View 2 */
.view-2 {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.view-2 .top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-2 .top p {
  font-weight: 200;
  opacity: 0.9;
  color: var(--theme-color);
}
.view-2 .top h1 {
  font-weight: 400;
  font-size: 3rem;
  width: 90%;
  font-family: var(--font-family-5);
}
.view-2 .top button {
  padding: 1rem;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5em;
  background-color: black;
  color: rgb(255, 248, 214);
  cursor: pointer;
}
.view-2 .line {
  background-color: var(--theme-color);
  height: 1px;
}
.view-2 .bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view-2 .bottom .elem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-2 .bottom .elem svg {
  width: 4rem;
  aspect-ratio: 1/1;
}
.view-2 .bottom .elem h1 {
  font-size: 2.5rem;
  font-weight: 400;
}
.view-2 .bottom .elem p {
  font-weight: 200;
  opacity: 0.9;
  color: #111 !important;
}

/* Responsive Design */
@media (min-width: 1020px) {
  main {
    padding: 3rem;
  }
  .view-1 h1 {
    font-size: 8rem;
    width: 100%;
  }
  .view-2 {
    flex-direction: row;
  }
  .view-2 .top {
    width: 60%;
    justify-content: space-between;
  }
  .view-2 .top h1 {
    font-size: 5rem;
  }
  .view-2 .line {
    height: initial;
    width: 1px;
  }
  .view-2 .bottom {
    width: 40%;
  }
  .view-2 .bottom .line {
    height: 1px;
    width: 100%;
    align-self: stretch;
  }
}/*# sourceMappingURL=style.css.map */